* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  header {
    background-color: #c62828;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header h1 {
    font-size: 24px;
  }

  h2, .p {
    text-align: center;
  }
  
  main {
    padding: 20px 0;
  }
  
  article {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  article h2 {
    font-size: 18px;
    color: #333;
    font-weight:bold;
  }
  
  article p {
    line-height: 1.6;
    color: #555;
    margin: 10px 0;
  }

  .imagem {
    text-align: center;
  }
  
  article img {
    max-width: 40%;
    border-radius: 8px;
    margin: 15px 0;
  }
  
  footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }
  